<!DOCTYPE html>
<html>
  <head>
    <title>GerenciadorConteudo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'layouts/menu' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
<%= yield :jquery_scripts %>
